<article class="feed relative {{post_class}}">
    <img class="lazyload u-object-fit" data-srcset="{{> srcset}}"
        data-sizes="auto" src="{{img_url feature_image size="l"}}"
        srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        alt="">
    <div class="feed-calendar">
        <div>{{primary_author.name}}</div>
    </div>
    <h2 class="feed-title">{{title}}</h2>
    <!-- <div class="feed-length">
        {{date published_at timeago="true"}}
    </div> -->
    <a class="u-permalink" href="{{url}}" aria-label="{{title}}"></a>
</article>
