{{!< default}}

<div id="home" class="content-area">
    <main class="site-main">
        <div class="container">
          <!-- <h2>Games</h2> -->
          <div class="pr-feed">
            {{#get "posts" filter="tags:[games]" include="authors"  as |games|}}
              {{#foreach games visibility="public"}}
                  <article class=" relative {{post_class}}">
                    <div class="feed-games">
                      <img class="lazyload u-object-fit" data-srcset="{{> srcset}}"
                          data-sizes="auto" src="{{img_url feature_image size="l"}}"
                          srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                          alt="">
                      <a class="u-permalink" href="{{url}}" aria-label="{{title}}"></a>
                    </div>
                    <h2 class="feed-title-games">{{title}}</h2>
                    <p class="feed-title-games">{{excerpt}}</p>
                  </article>

              {{/foreach}}
            {{/get}}
          </div>
          <h2>| Lux.Minima</h2>
          FREE FORMAT POST
          <h2>| Atelier.404</h2>
          FREE FORMAT POST
          <h2>Gallery  </h2>
        </div>
        <div class="container pr-feed">
          {{#get "posts" filter="tags:[gallery]" include="authors"  as |homeposts|}}
            {{#foreach homeposts visibility="public"}}
                {{> "loop"}}
            {{/foreach}}
          {{/get}}
        </div>
    </main>
    {{#if @member}}
    <script>
    var app = new Vue({
      el: '#home',
      data() {
        return {
          //socketio
          socket: {},
          user: "{{member.name}}",
        }
      },
      created() {
        this.socket = io("https://hail-heathered-angle.glitch.me"); //http://localhost:3000 https://mandarine-server.herokuapp.com
      },
      mounted() {
        this.socket.on("log", data => {
          //connection confirm
          console.log(data);

          this.socket.emit("getprism", this.user);

          this.socket.on("setprism", data => {
            // window.localstorage.prism = data;
            localStorage.setItem('prism', JSON.stringify(data.prism));
            localStorage.setItem('xPrism', JSON.stringify(data.xPrism));
            // window.location.reload(true);
          });

        });
        // window.location.reload(true);
      },
      methods : {

      }
    })
    </script>
    {{/if}}
</div>
