{{!< default}}

<div class="content-area">
    <main class="site-main">
        <div class="single kg-width-narrow">
            <header class="single-header">
                <h1 class="single-title">Your account</h1>
            </header>
            {{#unless @member}}
                <script>window.location = '{{@site.url}}/account/#/portal/signin';</script>
                <div class="account-profile">
                    <h2 class="account-name">You need to be connected to access <strong>Account</strong> page !</h2>
                    <button style="margin-top:2rem" class="button account-button menu-item members-login gh-portal-close" data-portal="signin">Login / Register </button>
                </div>
            {{else}}
                <div id="account" class="account" style="margin-top:2rem;">
                    <div class="account-profile">
                        {{#if @member.name}}
                            <h2 class="account-name">{{@member.name}}</h2>
                        {{/if}}
                        <div class="account-email">{{@member.email}}</div>
                        <div v-if="userInfo.rank" class="account-email"> <strong>Rank</strong> [ \{{userInfo.rank}} ] </div>
                        <div class="account-button-list">
                            <button class="button account-button members-signout"
                                data-members-signout>
                                Sign out
                            </button>
                            <button v-if="!creator" v-on:click="becomeCreator()" class="button account-button">
                              Become a creator (comming soon)
                            </button>
                        </div>
                        {{#if @member.paid}}
                          <h2 class="account-name">
                            Thanks you so much for supporting us ! 💜
                          </h2>
                          {{#foreach @member.subscriptions}}
                          <div class="account-button-list">
                              <div class="button account-button">
                                  {{cancel_link}}
                              </div>
                          </div>
                          <p>By canceling your subscription you will no longuer be charged at renewval period</p>
                          <p>Expiration date [ <strong>{{date current_period_end format="DD MMM YYYY"}}</strong> ]</p>
                          {{/foreach}}
                        {{else}}
                        <h2 class="account-name">
                          Help us with prismFlower Server cost ! 💜
                        </h2>
                        <div class="account-button-list">
                            <button class="button account-button members-signout" data-members-plan="Monthly">
                                Support Us
                            </button>
                        </div>
                        {{/if}}
                    </div>
                </div>
                <script>
                var app = new Vue({
                  el: '#account',
                  data() {
                    return {
                      //socketio
                      socket: {},
                      user: "{{member.name}}",
                      creator: true,
                      userInfo: {},
                    }
                  },
                  created() {
                    this.socket = io("https://mandarine-server.herokuapp.com"); //http://localhost:3000
                  },
                  mounted() {

                    this.socket.on("log", data => {
                      //connection confirm
                      console.log(data);


                      this.socket.emit("syncaccount", this.user);

                      this.socket.on("userinfo", data => {
                        this.userInfo = data
                        console.log(data)
                      });

                      this.socket.on("checkcreator", data => {
                        this.creator = data
                      });

                    });
                  },
                  methods : {
                    becomeCreator() {
                      // this.socket.emit("becreator", this.user);
                      // window.location.reload(true);
                    },
                  }
                })
                </script>
            {{/unless}}
        </div>
    </main>
</div>
