{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            {{> content width="wide"}}
        {{/post}}
        {{#if @member}}
        <div id="create">
        <img style="max-height:200px; margin:auto;" v-bind:src="creation.img_url">
        <form v-if="access" id="pressrelease" @submit="startCreate" class="contact-form container small">
            <label>
                <input value="{{member.email}}" type="hidden" name="email">
            </label>
            <label>
                <h3>Image URL</h3>
                <input v-model="creation.img_url" class="text-full" type="text" name="url" autocomplete="off" required>
            </label>
            <label>
                <h3>Title</h3>
                <input v-model="creation.title" class="text-full" style="" maxlength="30" type="text" name="title" autocomplete="off" required>
            </label>
            <label>
                <div id="editor-container">
                  <div id="editor"></div>
                </div>
                <textarea name="content" style="display:none" id="hiddenArea"></textarea>
            </label>
            <button v-on:click="startCreate()" class="button" type="submit">Submit</button>
        </form>
        <h1 v-else style="text-align:center">Access Denied ! Server is maybe in sleep mode, wait 20 seconds</h1>
        </div>
        <script>



        var app = new Vue({
          el: '#create',
          data: {
            usr: {
              email: '{{member.email}}',
              usrname: '{{member.name}}',
            },

            creation: {
              title : "",
              html : "",
              img_url: 'https://prismflower.xyz/content/images/2020/12/256_trans.png',
              author: {
                name: '{{member.name}}',
                email: '{{member.email}}',
              },
            },

            access : false,
          },
          created() {
            this.socket = io("http://localhost:3000"); //https://mandarine-server.herokuapp.com
          },
          mounted() {

            this.socket.on("log", data => {
              //connection confirm
              console.log(data);

              this.socket.emit("verifusr", this.usr);

              this.socket.on("gettoken", data => {
                this.access = data;
              });
            });

          },
          methods : {
            startCreate() {
              // Send JSON to server via socket.io
              if (title = "") {
                // error
              } else {
                console.log("Creation sent")
                this.socket.emit("postcreation", this.creation);
                //handle quil editor if html enabled

              }
            }
          }
        })
        </script>
        {{else}}
            <script>window.location = '{{@site.url}}/account/#/portal/signin';</script>
            <div class="account-profile">
                <h2 class="account-name">You need to be connected to access <strong>Create</strong> page !</h2>
                <button style="margin-top:2rem" class="button account-button menu-item members-login gh-portal-close" data-portal="signin">Login / Register </button>
            </div>
        {{/if}}
    </main>
</div>
